body, html {
    height: 100%;
}

.bg1 {
    background-image: url(../images/trees.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

#topName {
font-family: 'Monoton', cursive;
color: white;
font-size: 50px;
margin-left: 24%;
}

.nav-link {
    color: yellow !important;
}

.navbar {
    margin-left: 45%;
}

.aboutMe {
    color: white;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    
    
}

#selfie {
    height: 200px;
    width: 200px;
    margin: auto;
}

.jumbotron {
    width: 100%;
    text-align: center;
    height: 50px;
    background-color: #1c2a44;
    color: whitesmoke;
}

#pageBreak {
    transform: translateY(-50%);
}

.bg2 {
    background-image: url(../images/mountains.jpg);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}